.container {
  max-width: 140rem;
  margin: auto;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  padding: 0px 0;


}
.grid {
  display: grid;
  background-color: black;
}
.grid-two-columns {
  grid-template-columns: repeat(2,1fr);
}
.grid-three-columns {
  grid-template-columns: repeat(3,1fr);
}
.grid-four-columns {
  grid-template-columns: repeat(4,1fr);
}
header {
  height: 10rem;
  box-shadow: rgba(33, 35, 30, 0.1)0px 5px 5px -5px;
 
  width: 100%;
  & .container{
    height: 10rem;
  }
}
.navbar-grid{
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 5rem;
  padding: 0 3.2rem;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.904);
}
nav ul{
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  color: #fff;
 

}

nav ul a{
  color: #fff;
}
a h1 {
color: #fff;
}
.footer{
      background-color: rgba(216, 21, 21, 0.904);
    margin-top: 0;
    margin-top: 1.3rem;
    bottom: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    padding-bottom: 1rem;
}
.hero-section{
  height: 90vh;
  background-color: rgb(0, 0, 0);

}
.hero-content{
  margin-left: 15%;
}
.hero-image{
  margin-right: 15%;
}
.hero-section .container{
  padding: 3.2rem;
  
  gap: 6.2rem;
}
.paragraph {
  margin: 3.2rem 0;
}